# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
assets/The[[:space:]]Hostage[[:space:]]-[[:space:]]main[[:space:]]game/main[[:space:]]menu/Illustration.clip filter=lfs diff=lfs merge=lfs -text
*.clip filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
